<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - medicare_demo_webapp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/css/admin-dashboard.css" asp-append-version="true" />

    @* bootstrap 5.2*@
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   @*end bootstrap 5.2*@

    <link rel="stylesheet" href="~/medicare_demo_webapp.styles.css" asp-append-version="true" />
     <!-- owl carousel cdn css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" />
    <!--end owl carousel cdn css  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <header>
 
         @*<nav id="navbar" class="navbar navbar-expand-sm  navbar-dark pb-md-4  navbar-toggleable-sm   border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-brad">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo2.png" alt="logo" class="w-100">
                        </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>                 
                </div>
              
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto h5">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-uppercase">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#about-us" class="nav-link text-uppercase">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#short-codes" class="nav-link text-uppercase">short-codes</a>
                        </li>
                        <li class="nav-item">
                            <a href="#services" class="nav-link text-uppercase">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="#blog" class="nav-link text-uppercase">blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link text-uppercase">contact us</a>
                        </li>                      
                    </ul>*@
                  @*  <partial name="_LoginPartial" />*@
            @*    </div>
            </div>
        </nav>*@

        <nav id="navbar" class="navbar navbar-expand-lg  navbar-dark pb-md-4 ">
        <div class="container">
            <div class="navbar-brad">
                <a href="#" class="navbar-brand">
                    <img src="images/logo2.png" alt="logo" class="w-100">
                </a>
            </div>
            <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="offcanvas offcanvas-start w-75" data-bs-scroll="true" tabindex="-1" id="navbarCollapse"
                aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header ">
                    <h5 class="offcanvas-title" class="" id="offcanvasWithBothOptionsLabel">
                        <img src="images/logo2.png" alt="logo" class="w-100">
                    </h5>
                    <button type="button" class="btn-close text-reset text-white bg-white " data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body justify-content-md-end position-relative">
                    <ul class="navbar-nav ml-auto h5 my-md-0 my-3 ">
                        <li class="nav-item ">
                            <a href="#" class="nav-link text-uppercase">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#about-us" class="nav-link text-uppercase">About</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#short-codes" class="nav-link text-uppercase">short-codes</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#services" class="nav-link text-uppercase">Services</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#blog" class="nav-link text-uppercase">blog</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#contact" class="nav-link text-uppercase">contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
          
        </div>
    </nav>
        @* <nav id="navbar" class="navbar sticky-top  navbar-expand-lg  navbar-dark pb-md-4">
            <div class="container-fluid">
                <div class="navbar-brad ml-2 ml-md-4">
                    <a href="#" class="navbar-brand">
                        <img src="images/logo2.png" alt="logo" class="w-100">
                    </a>
                </div>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="collapse navbar-collapse justify-content-md-end" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto h5 ">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-uppercase">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#about-us" class="nav-link text-uppercase">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#short-codes" class="nav-link text-uppercase">short-codes</a>
                        </li>
                        <li class="nav-item">
                            <a href="#services" class="nav-link text-uppercase">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="#blog" class="nav-link text-uppercase">blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link text-uppercase">contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - medicare_demo_webapp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

        <footer id="footer" class="p-5 bg-dark text-white text-center">
        <div class="container">
            <div class="row align-items-start justify-content-between g-4 me-auto my-4">
                <div class="col-md-3 text-start justify-content-center align-content-center ">
                    <img src="images/logo2.png" class="img-responsive img-fluid " alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quia!</p>
                </div>
                <div class="col-md-3">
                    <div class="text-start d-block">
                        <h5 class="text-capitalize">recent posts</h5>
                        <div class="w-25 fw-bolder fs-large text-start text-info bg-info">
                            <hr class="h1 fw-bolder">
                        </div>
                        <div class="text-start justify-content-start align-content-center d-flex my-2">
                            <img src="images/pexels-photo-3683102.webp" alt=""
                                class="img-responsive img-fluid footer-post-img">
                            <div class="text-start mx-2 d-block mb-0 ">
                                <p class="text-capitalize fs-6  lead">Lorem ipsum dolor sit.
                                </p>
                                <div class="blog-card-header text-capitalize fs-p">
                                    <i class="bi bi-person-fill h4   "></i>Jhon / <i class="bi bi-chat-dots h5 "></i> 0
                                </div>
                            </div>
                        </div>
                        <div class="text-start justify-content-start align-content-center d-flex my-2">
                            <img src="images/baby-patient.jpg" alt="" class="img-responsive img-fluid footer-post-img">
                            <div class="text-start mx-2 d-block mb-0 ">
                                <p class="text-capitalize fs-6  lead">Lorem ipsum dolor sit.
                                </p>
                                <div class="blog-card-header text-capitalize fs-p">
                                    <i class="bi bi-person-fill h4   "></i>Jhon / <i class="bi bi-chat-dots h5 "></i> 0
                                </div>
                            </div>
                        </div>
                        <div class="text-start justify-content-start align-content-center d-flex my-2">
                            <img src="images/images-1.jpg" alt="" class="img-responsive img-fluid footer-post-img">
                            <div class="text-start mx-2 d-block mb-0 ">
                                <p class="text-capitalize fs-6  lead">Lorem ipsum dolor sit.
                                </p>
                                <div class="blog-card-header text-capitalize   fs-p">
                                    <i class="bi bi-person-fill h4   "></i>Jhon / <i class="bi bi-chat-dots h5 "></i> 0
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="d-block justify-content-center text-start">
                        <h5 class="text-capitalize">Our <span class="text-warning">services</span></h5>
                        <div class="w-25 fw-bolder fs-large text-start text-info bg-info">
                            <hr class="h1 fw-bolder">
                        </div>
                        <div class="d-flex justify-content-start  align-items-center">
                            <div class="footer-icons align-items-center">
                                <span class=""><i class="bi bi-caret-right h5 mr-1"></i></span>
                            </div>
                            <p class="fs-p align-items-center h6 fs-6 fw-light mt-1">Lorem, ipsum.</p>
                            <hr>
                        </div>
                        <div class="d-flex justify-content-start  align-items-center">
                            <div class="footer-icons align-items-center">
                                <span class=""><i class="bi bi-caret-right h5 mr-1"></i></span>
                            </div>
                            <p class="fs-p align-items-center h6 fs-6 fw-light mt-1">Lorem, ipsum.</p>
                            <hr>
                        </div>
                        <div class="d-flex justify-content-start  align-items-center">
                            <div class="footer-icons align-items-center">
                                <span class=""><i class="bi bi-caret-right h5 mr-1"></i></span>
                            </div>
                            <p class="fs-p align-items-center h6 fs-6 fw-light mt-1">Lorem, ipsum.</p>
                            <hr>
                        </div>
                        <div class="d-flex justify-content-start  align-items-center">
                            <div class="footer-icons align-items-center">
                                <span class=""><i class="bi bi-caret-right h5 mr-1"></i></span>
                            </div>
                            <p class="fs-p align-items-center h6 fs-6 fw-light mt-1">Lorem, ipsum.</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="contact" class="d-block justify-content-center text-start">
                        <h5 class="text-capitalize text-warning">contact <span class="text-info">us</span></h5>
                        <div class="w-25 fw-bolder fs-large text-start text-info bg-info">
                            <hr class="h1 fw-bolder">
                        </div>
                        <div class="d-flex justify-content-start  align-items-start">
                            <div class="footer-icons align-items-start ">
                                <span class=""><i class="bi bi-pin-map-fill h4 mr-1"></i></span>
                            </div>
                            <div class="align-items-center d-block justify-content-start  ml-1">
                                <h6
                                    class=" align-items-center h6 fs-6 fw-semibold align-items-center justify-content-start">
                                    address</h6>
                                <p
                                    class="fs-p align-items-center  fw-light align-items-center justify-content-start  text-capitalize text-truncate text-wrap">
                                    demo address #newyork <br>road chi min city ,united state of america</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start  align-items-start">
                            <div class="footer-icons align-items-start ">
                                <span class=""><i class="bi bi-telephone-plus h4 mr-1"></i></span>
                            </div>
                            <div class="align-items-center d-block justify-content-start  ml-1">
                                <h6
                                    class=" align-items-center h6 fs-6 fw-semibold align-items-center justify-content-start">
                                    phone</h6>
                                <p
                                    class="fs-p align-items-center  fw-light align-items-center justify-content-start  text-capitalize text-truncate text-wrap">
                                    028135-6585(24/7 support)</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start  align-items-start">
                            <div class="footer-icons align-items-start ">
                                <span class=""><i class="bi bi-envelope-check h4 mr-1"></i></span>
                            </div>
                            <div class="align-items-center d-block justify-content-start ml-1">
                                <h6
                                    class=" align-items-center h6 fs-6 fw-semibold align-items-center justify-content-start">
                                    email</h6>
                                <p
                                    class="fs-p align-items-center  fw-light align-items-center justify-content-start  text-capitalize text-truncate text-wrap">
                                    example@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="align-items-center mt-5 mb-0">
                <p class="text-center ">Copyright <span class="text-danger"> &</span> copy; 2020</p>

            </div>
            <a href="#navbar"  class=" position-fixed float-end bottom-0 end-0 p-5"><i
                    class="bi bi-arrow-up-circle h1 " ></i></a>

        </div>
    </footer>

   


   @* link from bootstrap project*@
    <script src="js/owlSlider.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/ec62aa8e6f.js" crossorigin="anonymous"></script>
    <!-- boostrap cdn -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <!-- owl carousel cdnjs -->
    <script src="jquery.min.js"></script>
    <!-- <script src="owlcarousel/owl.carousel.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 15,
            nav: false,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            smartSpeed: 1000,
            responsive: true,

            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
    </script>
    @*end link from bootstrap project*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
